.inner-page-banner {
    padding: 6px 4px !important;
}

.breadcrumbs-area h1 {
    font-size: 2.6rem !important;
}

.sb-featured-img {
    height: 200px !important;
    width: 350px !important;
}

.sb-latest-img {
    height: 88px !important;
    width: 106px !important;
}

.sb-insta-img {
    height: 80px !important;
    width: 110px !important;
}

.sb-aboutme-img {
    height: 170px !important;
    width: 200px !important;
}

ul.instagram-feed-figure img {
    width: 231px !important;
    height: 189px !important;
}

.recipe_img {
    height: 250px !important;
    height: 366px !important;
}

.recipe_title,
.item-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.recipe_short_desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.recipe_category_name,
.ctg-name {
    text-transform: uppercase;
}