.VueTables__search-field label {
    inline-size: fit-content !important;
}

.VueTables__search {
    float: right !important;
}

.VueTables__limit {
    float: left !important;
}

.VuePagination__pagination-item {
    margin: 2px;
}

.dg-content {
    font-size: 21px !important;
    min-height: 90px !important;
}

.dg-content-body {
    min-height: 100px !important;
}

.customInput input[type="file"] {
    display: none;
}

.customInput .custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.profile-user-img {
    height: 140px !important;
    width: auto !important;
}

.profile_image_container {
    border: 1px solid #aba8a859;
    text-align: center !important;
}